In [1]:
# here in this hr datasets i tried same as that of diabetes by splitting the datasets into training and testing
#and to make model to predict whether the person satisfying all those features is promoted or not? this is because it is easy to classify the 
#those features that has only two variable 1 or 0 .
#it also has the null values in two columns education and previous_yr_rating and fill with their respective means.
#since there are number of columns which are in string i drop them all thinking that does not affect in overall model 
#still there are lots of missing values in previous_rating_year so i use imputer and mean to fill the values and for this i couldnt do in numpy array elements so i convert it to the dataframe
#by mentioning all the columns name manually after that i trained using svm and accuracy is 92%.
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn import svm

In [2]:
hr_ds = pd.read_csv('/content/HRdata.csv')

In [3]:
print(hr_ds.head())

   employee_id         department     region         education gender  \
0        65438  Sales & Marketing   region_7  Master's & above      f
1        65141         Operations  region_22        Bachelor's      m
2         7513  Sales & Marketing  region_19        Bachelor's      m
3         2542  Sales & Marketing  region_23        Bachelor's      m
4        48945         Technology  region_26        Bachelor's      m

  recruitment_channel  no_of_trainings  age  previous_year_rating  \
0            sourcing                1   35                   5.0
1               other                1   30                   5.0
2            sourcing                1   34                   3.0
3               other                2   39                   1.0
4               other                1   45                   3.0

   length_of_service  KPIs_met >80%  awards_won?  avg_training_score  \
0                  8              1            0                  49
1                  4              0            0                  60
2                  7              0            0                  50
3                 10              0            0                  50
4                  2              0            0                  73

   is_promoted
0            0
1            0
2            0
3            0
4            0

In [4]:
hr_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [5]:
hr_ds.isnull().sum()

employee_id                0
department                 0
region                     0
education               2409
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    4124
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

In [6]:
# department_df = pd.get_dummies(hr_ds['department'], prefix='department')
# hr_ds_new = pd.concat([hr_ds, department_df], axis=1)
# cols_to_drop = ['employee_id', 'department', 'region', 'education', 'gender', 'recruitment_channel']
# hr_ds_new.drop(cols_to_drop, axis=1, inplace=True)

department_df = pd.get_dummies(hr_ds['department'], prefix='department')
hr_ds = pd.concat([hr_ds, department_df], axis=1)
cols_to_drop = ['employee_id', 'department', 'region', 'education', 'gender', 'recruitment_channel']
hr_ds.drop(cols_to_drop, axis=1, inplace=True)

In [7]:
hr_ds.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted,department_Analytics,department_Finance,department_HR,department_Legal,department_Operations,department_Procurement,department_R&D,department_Sales & Marketing,department_Technology
0,1,35,5.0,8,1,0,49,0,0,0,0,0,0,0,0,1,0
1,1,30,5.0,4,0,0,60,0,0,0,0,0,1,0,0,0,0
2,1,34,3.0,7,0,0,50,0,0,0,0,0,0,0,0,1,0
3,2,39,1.0,10,0,0,50,0,0,0,0,0,0,0,0,1,0
4,1,45,3.0,2,0,0,73,0,0,0,0,0,0,0,0,0,1

In [8]:
print(hr_ds.dtypes)

no_of_trainings                   int64
age                               int64
previous_year_rating            float64
length_of_service                 int64
KPIs_met >80%                     int64
awards_won?                       int64
avg_training_score                int64
is_promoted                       int64
department_Analytics              uint8
department_Finance                uint8
department_HR                     uint8
department_Legal                  uint8
department_Operations             uint8
department_Procurement            uint8
department_R&D                    uint8
department_Sales & Marketing      uint8
department_Technology             uint8
dtype: object

In [9]:
#spliting the dataset into input X and output y variables
X = hr_ds.drop(columns=['is_promoted'])
y = hr_ds['is_promoted']

In [10]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [11]:
hr_ds.isnull().sum()

no_of_trainings                    0
age                                0
previous_year_rating            4124
length_of_service                  0
KPIs_met >80%                      0
awards_won?                        0
avg_training_score                 0
is_promoted                        0
department_Analytics               0
department_Finance                 0
department_HR                      0
department_Legal                   0
department_Operations              0
department_Procurement             0
department_R&D                     0
department_Sales & Marketing       0
department_Technology              0
dtype: int64

In [12]:
# X = hr_ds[['previous_year_rating']]
# X_imputed = imputer.fit_transform(X)
# X_imputed = hr_ds['previous_year_rating']

In [13]:
hr_ds.isnull().sum()

no_of_trainings                    0
age                                0
previous_year_rating            4124
length_of_service                  0
KPIs_met >80%                      0
awards_won?                        0
avg_training_score                 0
is_promoted                        0
department_Analytics               0
department_Finance                 0
department_HR                      0
department_Legal                   0
department_Operations              0
department_Procurement             0
department_R&D                     0
department_Sales & Marketing       0
department_Technology              0
dtype: int64

In [16]:
# Splitting the datasets into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [17]:
# standardize the data to a particular level(between 0 and 1)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [20]:
# imputer = SimpleImputer(strategy='mean')
# cols_to_impute = ['previous_rating_year']
# X_train_scaled = pd.DataFrame(imputer.fit_transform(X_train_scaled), columns=X_train.columns)
# X_test_scaled = pd.DataFrame(imputer.transform(X_test_scaled), columns=X_test.columns)
cols = ['no_of_trainings', 'age', 'previous_year_rating', 'length_of_service',
        'KPIs_met >80%', 'awards_won?', 'avg_training_score', 'department_Analytics',
        'department_Finance', 'department_HR', 'department_Legal', 'department_Operations',
        'department_Procurement', 'department_R&D', 'department_Sales & Marketing',
        'department_Technology']
imputer = SimpleImputer(strategy='mean')
cols_to_impute = ['previous_rating_year']
X_train_scaled_imputed = imputer.fit_transform(X_train_scaled)
X_test_scaled_imputed = imputer.transform(X_test_scaled)
X_train_scaled = pd.DataFrame(X_train_scaled_imputed, columns=cols)
X_test_scaled = pd.DataFrame(X_test_scaled_imputed, columns=cols)

In [21]:
# Training the support vector machine classifier on the training set
clf = svm.SVC(kernel='linear')
clf.fit(X_train_scaled, y_train)
y_pred = clf.predict(X_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.9247400109469075